body .bigBox {
  background-color: #fff;
  height: 37.9375rem;
  overflow-y: scroll;
}

body .bigBox .listBox {
  display: flex;
  flex-wrap: wrap;
}

body .bigBox .cakeList {
  text-align: center;
  box-sizing: border-box;
  width: 48%;
  margin-top: 0.625rem;
}

body .bigBox .cakeList img {
  margin: auto;
  width: 70%;
}

body .bigBox .cakeList p:nth-child(3) {
  background-color: goldenrod;
  color: wheat;
}

body .bigBox .cakeList p:nth-child(4) {
  color: #ccc;
}

body .bigBox .cakeList p:nth-child(5) {
  color: goldenrod;
}
