body{
    .bigBox{
        background-color: #fff;
        height: 37.9375rem ;
        overflow-y: scroll;
    .listBox{
        display: flex;
        flex-wrap: wrap;
    }


    .cakeList{
        text-align: center;
        box-sizing: border-box;
        width: 48%;
        margin-top: 0.625rem;
        img{
            margin: auto;
            width: 70%;
        }
        p:nth-child(3){
            background-color: goldenrod;
            color: wheat;
        }
        p:nth-child(4){
            color: #ccc;
        }
        p:nth-child(5){
            color: goldenrod;
        }
    
        }
    }    
}