.menuContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #fff;
}

.orderPic {
  width: 7.25rem;
  margin-top: 2.5rem;
  margin-left: 0.555rem;
}
.orderPicFont {
  text-align: center;
  font-size: 0.75rem;
}
