.formWarp {
  width: 18.75rem;
  margin: 0 auto;
}
.loginBtn {
  width: 18.25rem;
  margin: 1.25rem auto;
  background-color: tomato;
}
.loginFont {
  font-size: 0.875rem;
  color: red;
}
.IptBtn {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  color: tomato;
}

.logFont {
  margin-left: 4.425rem;
  color: red;
  font-size: 0.875rem;
}
